<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
	<add connectionString="Data Source=LAPTOP-21IK3OHF\SQLEXPRESS;Initial Catalog=InstituteManagementSystem;Integrated Security=True"
		 name ="imsCnStr" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>